/* Global styles */

#store {
	/*padding-top: 5em;*/
	margin: 0 auto 0 auto;
}
#header {
	width: 505px;
	/*height: 160px;*/ 
	padding: 1em 1em 0em 1em;
	margin: 0 auto 0 auto;
	z-index:1;
	text-indent: -9999px; /* para que el texto no se vea */
	/*background:url(../images/images_style/header.png)no-repeat;*/
}

body {
	margin: 0;	/* para ignorar los valores por defecto de otros navegadores */
	padding: 0; /* para ignorar los valores por defecto de otros navegadores */
	font-family: 'Trebuchet MS', sans-serif;
	color: #444;
	}

#content {
	margin: 0 auto 0 auto;
	width: 825px;
	height: 816px; 
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	background:url(../images/images_style/bg_body_b.png)no-repeat;
	z-index:-1;
}

#notice {
border: 2px solid #38640B;
padding: 1em;
margin-bottom: 2em;
margin-right: 2em;
background-color: #FEFFB1;
font: bold smaller sans-serif;
text-align: center;
}


#footer {
	/*float: bottom;*/
	width:60em;
	height:10em;
	padding: 1em 1em 1em 1em;
	margin: 1em 1em auto 1em;
	text-align:center;
	font-style:italic;
	font-size:small;
	clear: both;
}

#footer a {
 	overflow: hidden; /* bug de firefox */
}

#rails {
	background:url(../images/images_style/rails.png)no-repeat;
	display: block;
	width: 50px;
	height: 64px;
	margin: 1em 28em 1em 28em;
	text-indent: -9999px;

}
/* Styles for main page */

ul {
	list-style: none;
}

a {
	color: #444;
}

p {
	padding-right: 1em;
}


#menu1 {
	margin: 1em 1em 15em 1em;
	padding: 1em 1em 1em 1em;
	float: left;
	width: 10em; /* anchura del menu */
}

#menu1 a {
	padding-left: 0em;
	padding-top: 0em;
}

#menu1 p {
	margin: 1em auto 0.5em auto;
	padding: 0em;
	font-size: 13px;
	color: #579F15 ;
	border: 1px dotted #442222 ;
}

#menu2 a {
	display: block;
	width: 85px;
	height: 23px;
	text-indent: -9999px;
	overflow: hidden; /* bug de firefox */
}

#m-home a {
	background:url(../images/images_style/home_d.png) no-repeat;
}

#m-checkout a {
	background:url(../images/images_style/checkout_d.png) no-repeat;
}

#m-contact a {
	background:url(../images/images_style/contact_d.png) no-repeat;
}

#menu2 li.active a, #menu1 li a:hover { 
	background-position:0 -23px; /* para cambiar el aspecto de la pestana que hay debajo del puntero*/
}

#menu3 {
	float: left;
	width: 7em; /* anchura del menu */
	margin: 1em 2em 1em 1em;
	padding: 1em 1em 1em 1em;
	font-family: 'Trebuchet MS', sans-serif;
}

#menu3 li {
	margin: -0.25em -0.25em -0.25em 0.5em;
}

#menu3 p {
	font-size: larger;
}
.green {
	color: #579F15;
}

.lower{
	font-size: 13px;
}
active a, a:hover { 
	color: #579F15 !important;
	font-size: 105% !important;
}

#main {
	margin: 0em 1em auto 14em;
	padding: 1em 1em 1em 1em;
	text-align:justify;
}

h1 {
	font: 150%;
	color: #62AB14 ;
	border-bottom: 1px dotted #442222 ;
	margin: 0.5em 1em 1em 0em;
}

#main a{
	padding-left: 0em;
}


th {
font: 145%;
color: #579F15 ;
}

td {
font: 93%;
color: #444;
	} ;

}


#t_users {
	border-collapse:collapse;
	padding-left:2em;

}
#t_users td {
	font: 93%;
	height:35px;
	padding-top:0em;
	padding-bottom:0em;
	padding-left:2em;
	padding-right:2em;

	border:1px dotted #442222;

}

#search {
	margin: 2em auto 2em auto;
}

/* Styles for products/index */

#product-list {
	padding: 1em 1em 1em 1em;
}

#product-list .list-title {
color: #579F15 ;
font-weight: bold;
font-size: larger;
}
#product-list .list-image {
width: 60px;
height: 70px;
}
#product-list .list-actions {
font-size: small;
text-align: right;
padding-left: 1em;
padding-right: 1em;
}

#new_product {
	padding: 1em 1em 1em 3em;
}

#list_orders {
	padding: 1em 1em 1em 1em;
	border-collapse:collapse;

}


#list_orders td {
	font: 93%;
	height:50px;
	padding-top:0em;
	padding-bottom:0em;
	padding-left:0.5em;
	padding-right:0.5em;

	border:1px dotted #442222;

}

#show_orders {
	padding: 1em 1em 1em 1em;
}

#t_orders {
	border-collapse:collapse;
	width: 32.5em;
}
#t_orders td {
	font: 93%;
	height:50px;
	padding-top:0em;
	padding-bottom:0em;
	padding-left:2em;
	padding-right:2em;

	border:1px dotted #442222;

}

/* An entry in the store catalog */


#store .entry {
	display: table;
	border-bottom: 1px dotted #773311 ;
	margin: 1em 1em 0em 1em;
}
#store .title {
font-size: 100%;
font-family: sans-serif;
}

#store .entry img {
	width: 75px;
	display: inline-block;
	vertical-align: middle;
}
#store .entry h3 {
margin-bottom: 2px;
color: #62AB14 ;
}

#store .entry p {
margin-top: 0px;
margin-bottom: 0.8em;
padding: 0.5em 0.5em 0.5em 6.5em;
position: relative;
}

#store .entry .price-line {
}
#store .entry .add-to-cart {

}
#store .entry .price {
color: #579F15;
font-weight: bold;
margin: auto 1em auto auto;
}


#store .entry .entry_left {
float: left;
display:inline;
width: 75px;
height: 145px; /*TODO make it relative*/
line-height: 145px; /*has to be the same as height for the vertical alignment to work*/
padding-right: 1em;
border-right: 1px dotted #773311 ;
margin: 1em;
}

#store .entry .entry_right {
float: left;
display:inline;
width: 300px;
margin: 1em;
font-size: 13px;
}

#form_contact{
border-bottom: 1px dotted #773311 ;
}

/* Styles for the cart in the main page and the sidebar */
.cart-title {
	font: 120% bold;
	margin-top: 1em;
}
.item-price, .total-line {
text-align: right;
}
.total-line .total-cell {
font-weight: bold;
border-top: 1px solid #773311 ;
}


/* Styles for the cart in the sidebar */
#cart, #cart table {
color: #579F15 ;
padding-left: 1em;
font-size: 90%;
}
#cart table {
border-top: 1px dotted #579F15 ;
border-bottom: 1px dotted #579F15 ;
margin-bottom: 10px;
}

/* Styles for order form */
.depot-form {
	padding: 1em 3em 1em 4.75em;
}
.depot-form fieldset {
background: #efe;
}
.depot-form legend {
color: #dfd ;
background: #442222 ;
font-family: 'Trebuchet MS', sans-serif;
padding: 0.2em 1em;
}
.depot-form label {
width: 5em;
float: left;
text-align: left;
margin-right: 0.5em;
padding-left: 0.5em;
display: block;
}
.depot-form .submit {
margin-left: 8.5em;
}



/* The error box */
.fieldWithErrors {
padding: 2px;
background-color: red;
display: table;
}
#errorExplanation {
width: 400px;
border: 2px solid red;
padding: 7px;
padding-bottom: 12px;
margin-bottom: 20px;
background-color: #f0f0f0 ;
}
#errorExplanation h2 {
text-align: left;
font-weight: bold;
padding: 5px 5px 5px 15px;
font-size: 12px;
margin: -7px;
background-color: #c00 ;
color: #fff ;
}
#errorExplanation p {
color: #333 ;
margin-bottom: 0;
padding: 5px;
}
#errorExplanation ul li {
font-size: 12px;
list-style: square;
}
Report