<div class="cart-title">You want:</div>
<table>
	<%= render(:partial => "cart_item" , :collection => cart.items) %>
	<tr class="total-line">
	</tr>
</table>

<div style="float: left; display:inline; width: 50px;"; >
	<%= button_to "send" , :action => :checkout%> 
</div>
<div style="float: left; display:inline; width: 10px;"; >  |   </div>	  
  <div style="float: left; display:inline;  width: 50px;"; >
<%= button_to "remove" , :action => :empty_cart %>
</div>